/* Basic resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-weight: 600; /* Set font weight */
    font-size: 60px;
}



h4{
font-size: 20px;
color:white;


}

.App {
  font-family: Arial, sans-serif;
}

section {
  padding: 100px;
}

@media (max-width: 768px) {
  section {
      padding: 50px;
  }
}
